@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-flow: column;
}
